body {
	background-color: #afbab3;
	}
p {
	background-color:#afbab3;
	color:#1d1e2b;
	font-family: Helvetica, sans-serif;
	font-size: 30 px;
	padding: 20px 20px;
	line-height: 125%;
	}
img {
  width:10%;
  float:middle;
  margin:10px 10px 100px 100px;
}
h1 {
	font-size: 70 px;
	color:#1d1e2b;
	padding:25px;
}
h2 {
	font-size: 60 px;
	color:#1d1e2b;
	padding:25px;
}
h3 {
	font-size: 40 px;
	color:#1d1e2b;
	padding:25px;
}

navbar {
  overflow: hidden;
  background-color: #afbab3;
  font-family: Helvetica, sans-serif;
}
