html {
	background-color: #afbab3;
	}
p {
	background-color:#afbab3;
	color:#1d1e2b;
	font-family: Helvetica, sans-serif;
	font-size: 30 px;
	padding: 20px 20px;
	line-height: 125%;
	}
img {
  width:10%;
  float:middle;
  margin:10px 10px 100px 100px;
}
h1 {
	font-size: 70 px;
	color:#1d1e2b;
	padding:25px;
}
h2 {
	font-size: 60 px;
	color:#1d1e2b;
	padding:25px;
}
h3 {
	font-size: 40 px;
	color:#1d1e2b;
	padding:25px;
}

navbar {
  overflow: hidden;
  background-color: #afbab3;
  font-family: Helvetica, sans-serif;
}

dropdown {
  float: left;
  overflow: hidden;
}

dropdown{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

navbar a:hover{
  background-color: #1d1e2b;
}

dropdown-content {
  display: none;
  position: absolute;
  background-color: #afbab3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

dropdown-content a:hover {
  background-color: #818f87;
}

dropdown:hover .dropbtn {
  display: block;
}

dropdown:hover .dropbtn {
  background-color: #818f87;
}
