*{
	background-color: #95a393;
}

body {
	font-weight: lighter;
	font-family: system-ui;
}

h1 {
	font-size: 24;
}

h2 {
	font-size: 18;
	padding: 0% 20%;
	border-top: 1px solid #b8b8b8
}

ul {
	
    font-size: 18;
}

p{
	font-size: 12;
}

a {
	font-weight: normal
}
