html {
  background-color: #afbab3;
  padding: 10px 20px 10px 20px;
  font-family: Helvetica; serif;
}

h1 {
  font-size: 80px
  color: #1d1e2b;
}

h2 {
  font-size: 18px;
  color: #1d1e2b;
}

#about h3{
  font-size: 23px
}

#about p {
  margin: 0 40px 0 40px;
  font-size: 25px;
}

/* nav bar styling */
nav ul {
  list-style-type: none;
  margin: 3% 30% 3% 30%;
  padding: 0;
  overflow: hidden;
  background-color: #1d1e2b;
  border-radius: 69px;
}

nav li {
  float: left;
  width: 50%;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 69px;
}

#current {
  background-color: #000000;
}

nav li a:hover {
  background-color: #000000;
}

/* data page styling */

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid-item {
  text-align: center;
  border: 2px solid black;
  padding: 15px;
  margin: 7% 17% 7% 17%;
}

.grid-item img {
  width:25%;
}
